:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "roboto regular";
  src: url("./src/assets/fonts/robotoslab-variablefont_wght-webfont.woff2")
      format("woff2"),
    url("./src/assets/fonts/robotoslab-variablefont_wght-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "roboto light";
  src: url("./src/assets/fonts/roboto-light-webfont.woff2") format("woff2"),
    url("./src/assets/fonts/roboto-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  box-sizing: inherit;
  list-style-type: none;
  text-decoration: none;
  background-color: var(--bg-main);
}

#app {
  height: 100svh;
  width: 100%;

  display: grid;
  place-items: center;

  font-family: "roboto light";
}

input {
  display: block;
}

input {
  border: none;
  width: 100%;
}

input:focus,
input:active {
  outline: none;
}
