/* Utilitie Classes */
.d-none {
  display: none !important;
}

.color-error {
  color: red !important;
}

.fs-small {
  font-size: small;
}

/* Form Wrapper */
#form__wrapper {
  background-color: var(--bg-secondary);

  width: 380px;
  padding: 1rem;
  border-radius: 0.4rem;
}

#signin__form {
  height: 100%;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  gap: 0.7rem;
}

/* Input  */
#form__wrapper input {
  background-color: var(--bg-main);
  padding: 0.5rem 1rem;
  color: white;
  border-radius: var(--border-3rem);
}

/* Date Input */
.signin__birth__wrapper {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

/* Submit Button */
.submit__wrapper button {
  background-color: var(--bg-button);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: var(--border-3rem);
  color: white;
  width: 100%;
  cursor: pointer;
}

.submit__wrapper {
  margin-top: 0.8rem;
}

.submit__wrapper button:active {
  outline: none;
}

.submit__wrapper button:hover {
  background-color: var(--bg-button-hover);
}

/* Error Box */
.signin__box div,
.login__box div {
  display: flex;
  justify-content: space-between;
  flex-shrink: 1;
}

#form-switcher {
  display: block;
  text-align: center;
  margin-top: 1rem;
  font-size: 0.9em;
}
