/* Themes 
--background-main: #eec9c9;
--background-secondary: #606c38ff;
--text-main: #283618ff;
--text-secondary: #fefae0ff;
--botton--main: #bc6c25ff;
--botton-secondary: #dda15eff;
*/

#form__wrapper {
  width: 380px;
  height: 600px;

  background-color: var(--background-secondary);
}
